name: Manual Change Latest Version

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string

permissions: write-all

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Deploy
        shell: bash
        run: |
          rm -f artifact/latest.json
          ln -s "${{ inputs.version }}.json" "artifact/latest.json"
          git add --all
          git commit -m "Release New Version: ${{ inputs.version }}"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
            branch: ${{ github.ref }}
